body {
    background: url('../img/bg.png') no-repeat center fixed;
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
}

#app {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.logo {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    box-sizing: border-box;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 1em;
}
