/*
    VARIABLES
*/

.border {
    border: 1px solid white;
    border-radius: 20px;
    border-image: url('../media/border.png') 14;
    border-image-width: 14px;
    padding: 1em;
    background: #FFCB7B;
}