@import 'variables';

* { padding: 0; margin: 0; }

.App {
    width: 100vw;
    display: flex;
    align-content: center;
    justify-content: center;
    box-sizing: border-box;
}

.Content {
    width: 90vw;
    background: #FFCB7B;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    @extend .border;
    box-sizing: border-box;
    h1 {
        color: #4D2D00;
    }
}